@import "../globals.sass"

*
  margin: 0
  padding: 0
  box-sizing: border-box

// Hero component with image and text
.hero
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 100vh
  text-align: center
  color: white
  position: relative
  overflow: hidden
  @include blendy("/media/mathBackground.png", $main-gradient, overlay)
  // Title
  div 
    // width: 50%
    // display: flex
    flex-direction: column


  div#main-title
    span
      display: inline-block
      background: white
      color: black
      padding: 0 0.5rem 0 0.5rem
      margin-left: 5px
    // background: red
    &
      // display: block
  // Animation or image


/* Geometric patterns (triangles)

.btn
  padding: 15px 30px
  background-color: #ff6584
  color: white
  text-decoration: none
  font-size: 1rem
  border-radius: 50px
  transition: background-color 0.3s ease

  &:hover
    background-color: #ff3366

/* Starting state: content is off the right of the screen

.fade-enter
  transform: translateX(100%)
  transition: transform 400ms ease, background-color 400ms ease
  background-color: white

/* Active state: content slides into view

.fade-enter-active
  transform: translateX(0)
  background-color: red

  /* Example background color

/* Exiting state: content starts on the screen

.fade-exit
  transform: translateX(0)
  background-color: lightblue

/* Active state: content slides out of view

.fade-exit-active
  transform: translateX(-100%)
  background-color: white
