---
import Layout from '../layouts/Layout.astro';
// import "@styles/globals.sass"

---

<Layout title="Home - Modern Geometric Hero">
  <section class="hero light-text">
      <div id="main-title">
          <h1>¡Hola! Soy <span class="block">Andrés</span></h1>
          <p>Conoce más de mi trabajo</p>
      </div>
      <div id="main-image">
        Here comes the sun :v 
      </div>
  </section>
</Layout>
