---
import Layout from '../layouts/Layout.astro';

// import "@styles/globals.sass"
import {ChangingTitle} from '../components/ChangingTitle/ChangingTitle'; 
import { Socials } from '../components/Socials/Socials';
import Lorentz from '../components/Lorentz/Lorentz';

---

<Layout title="Home">
  <section class="hero light-text row">
      <div id="main-title" class="col-xs-12 col-md-6">
         <ChangingTitle client:only="react" />
      </div>
      <div id="main-image" class="col-md-6 d-none d-lg-block">
        <Lorentz client:only="react" />
      </div>
      <Socials/>
  </section>
</Layout>
