---
import Layout from '../layouts/Layout.astro';
import Lorentz from '../components/Lorentz/Lorentz'
// import "@styles/globals.sass"
import {ChangingTitle} from '../components/ChangingTitle/ChangingTitle'; 
---

<Layout title="Home - Modern Geometric Hero">
  <section class="hero light-text">
      <div id="main-title">
         <ChangingTitle client:only/>
      </div>
      <div id="main-image">
        <Lorentz client:only/>
      </div>
  </section>
</Layout>
