---
import Layout from '../layouts/Layout.astro';

// import "@styles/globals.sass"
import {ChangingTitle} from '../components/ChangingTitle/ChangingTitle'; 
import { Socials } from '../components/Socials/Socials';
import Lorentz from '../components/Lorentz/Lorentz';

---

<Layout title="Home">
  <section class="hero light-text">
      <div id="main-title">
         <ChangingTitle client:only="react" />
      </div>
      <div id="main-image">
        <Lorentz client:only="react" />
      </div>

      <Socials/>
  </section>
</Layout>
